<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Required Tools</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>Name</ion-card-header>
        <ion-card-content>
            {{ detail.name }}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="detail.notes">
        <ion-card-header>Notes</ion-card-header>
        <ion-card-content>
            {{ detail.notes }}
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>Reference</ion-card-header>
        <ion-card-content>
            {{ detail.reference }}
        </ion-card-content>
    </ion-card>
</ion-content>
