<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/actions-page"></ion-back-button>
        </ion-buttons>
        <ion-title>description</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>System Description and Function</h1>
    <p>The rear suspension is attached to the frame and to the axle box. There are
    lubrication hoses attached to the top and bottom of the suspension from the auto lube system.
    The rear suspension connects to these assemblies.</p>

    <ul>
        <li>[Reference: Axle Box]</li>
        <li>[Reference: Chassis]</li>
    </ul>
    <ion-img src="/assets/img/suspensiones traseras.PNG"></ion-img>
    <p>The rear suspensions are tubular. There is a piston inside that operates the suspensions.
    A measured quantity of nitrogen gas is pressurized into the system. This nitrogen gas lets
    the suspensions absorb the vibrations.</p>
    <p>All Internal wear surfaces are lubricated with oil. The oil is pressurized from the
    nitrogen gas. When the haul truck moves along rough ground, check valves and ports in the
    suspension control the movement of the oil.</p>
    <p>The suspension has an elastomer rebound pad to prevent damage to the internal parts of
    the suspension. If the suspension become defective, the pad holds the suspension and prevents
    metal-to-metal contact. The pad gives protection when the suspension is in full extension,
    or if the suspension is fully compressed.</p>

</ion-content>
