<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>What are you trying to see?</p>

    <ion-button color="primary" expand="block">Description and function</ion-button>
    <ion-button color="primary" expand="block" routerLink="/removal">Rear Suspension Removal</ion-button>
    <ion-button color="primary" expand="block" routerLink="/installation">Rear Suspension Installation</ion-button>
    <ion-button color="primary" expand="block">Rear Suspension Setup</ion-button>
    <ion-button color="primary" expand="block" routerLink="/oil">Oil Fill and Pressure Testing Procedure</ion-button>

</ion-content>
