<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>installationion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Rear Suspension Removal</h1>
  <div>

      <app-expandable header="Procedimientos de seguridad" [expanded]="false">
          <p style="font-weight: bold">
              LME-SWP-00025 - pagina 1369
          </p>
      </app-expandable>

      <app-expandable header="Materiales y herramientas requeridas" [expanded]="false">
            <ion-list>
                    <ion-item *ngFor="let tool of tools; let i = index" [routerLink]="['/material-detail/', i]">
                        <ion-label>{{ tool.name }}</ion-label>
                    </ion-item>
            </ion-list>
      </app-expandable>
      <ion-img src="/assets/img/instalacion_remosion suspension trasera.PNG"></ion-img>
      <ion-slides class="justify-text" [pager]="true">
          <ion-slide>
              <div>
                  <h1>Step 1</h1>
                  <p>Assemble and setup the rear suspension handling tool, and secure with
                      strap to the forklit.</p>
                  <ion-button expand="block" routerLink="/suspension-handling-tool">See here how</ion-button>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <h1>Step 2</h1>
                  <p>Safely and carefully move the forklift with the rear suspension installed on the rear suspension handling tool into position and align the upper eye bearing with the frame clevis.</p>
                  <ion-card>
                    <ion-card-header color="secondary">NOTICE</ion-card-header>
                    <ion-card-content>
                        The minimum weigth of each pin is 66 kg (145 lb).
                        -> Use an approved lift device that can safely lift and support the component weight.
                    </ion-card-content>
                </ion-card>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <h1>Step 3</h1>
                  <p>Apply a thin coat of anti-seize ti the suspension pin (2) and install on the upper eye.
                  </p>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <h1>Step 4</h1>
                  <p>Lubricate the cap screws (5) with anti-seize.</p>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <h1>Step 5</h1>
                  <p>Install the retainer (3), washers (4), and cap screws (5).</p>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <h1>Step 6</h1>
                  <p>Tighten the cap screws (5) to 925 N*m (682 lbf ft).</p>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <h1>Step 7</h1>
                  <p>Connect the grease lines (6) and electrical connections to the suspension (1).</p>
              </div>
          </ion-slide>
      </ion-slides>
  </div>
</ion-content>
