<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" (click)="hiddeGuideLine()" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>qr-dialog</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="qr-scanner-content-element">

</ion-content>

<div class="page-scan">
    <div class="guides" *ngIf="displayGuideLine">
        <img src="/assets/img/bitpay-wallet-qr-scan-guides.svg" alt="" class="svg qr-scan-guides">
    </div>
</div>
