<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>removal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Rear Suspension Removal</h1>
    <div>

        <h2>Procedimientos de seguridad</h2>
        <p style="font-weight: bold">
            LME-SWP-00025 - pagina 1369
        </p>
        <ul>
            <li>Follow the haul truck safety precautions [Reference: Safety, page 45]</li>
        </ul>
        <ion-card color="warning">
            <ion-card-header>CAUTION</ion-card-header>
            <ion-card-content>
                The rear suspension handling tool is not validated for the removal of the rear
                suspension. During the rear suspension removal procedure, use a lifting device that
                can safely lift and support the rear suspension weight.
            </ion-card-content>
        </ion-card>

    </div>

</ion-content>
