.justify-text {
  p {
    text-align: justify;
  }
  ul {
    text-align: justify;
  }
}

.sc-ion-card-ios-h, .sc-ion-card-md-h{
  margin-left:0px; margin-right:0px; -webkit-margin-start:0px;
  margin-inline-start:0px; -webkit-margin-end:0px; margin-inline-end:0px
}

ion-card-header{color:#071121}
ion-card-content ul{padding-left:15px}