<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Removal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Rear Suspension Removal</h1>
    <div>

        <ion-img src="/assets/img/foto-camion-suspension.jpg"></ion-img>

        <app-expandable header="Security procedures" [expanded]="false">
            <p style="font-weight: bold">
                LME-SWP-00025 - pagina 1369
            </p>
            <ul>
                <li>Follow the haul truck safety precautions [Reference: Safety, page 45]</li>
            </ul>
            <ion-card>
                <ion-card-header color="warning">CAUTION</ion-card-header>
                <ion-card-content>
                    The rear suspension handling tool is not validated for the removal of the rear
                    suspension. During the rear suspension removal procedure, use a lifting device that
                    can safely lift and support the rear suspension weight.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header color="secondary">NOTICE</ion-card-header>
                <ion-card-content>
                    The minimum weight of each filled rear suspension is 895kg. Use an
                    approved lift device that can safely lift and support the component weight
                </ion-card-content>
            </ion-card>
        </app-expandable>

        <app-expandable header="Materiales y herramientas requeridas" [expanded]="false">
            <ion-list>
                <ion-item *ngFor="let tool of tools; let i = index" [routerLink]="['/material-detail/', i]">
                    <ion-label>{{ tool.name }}</ion-label>
                </ion-item>
            </ion-list>
        </app-expandable>
        <ion-img src="/assets/img/instalacion_remosion suspension trasera.PNG"></ion-img>
        <ion-slides class="justify-text" [pager]="true">
            <ion-slide>
                <div>
                    <h1>Step 1</h1>
                    <p>Lift and support the rear end of the chassis until the rear
                        suspensions are fully extended</p>

                    <ion-card>
                        <ion-card-header color="secondary">NOTICE</ion-card-header>
                        <ion-card-content>
                            The weight of the rear axle must remain on the ground
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 2</h1>
                    <p>Fully discharge the nitrogen from both rear suspensions</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 3</h1>
                    <p>Disconnect the grease lines (6) and electrical
                        connections from the supsension
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 4</h1>
                    <p>Remove the rod protection cover, if necessary</p>
                    <ion-card>
                        <ion-card-header color="warning">CAUTION</ion-card-header>
                        <ion-card-content>
                            <ul>
                                <li>Damage to the piston rod can occur when the protective cover is removed</li>
                                <li>Be careful not to damage the piston rod surface
                                    when workin on the suspension with the protective cover removed
                                </li>
                            </ul>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 5</h1>
                    <p>Safely and securely attach the suspension to the lifting device</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 6</h1>
                    <p>Remove the cap screws (5), whashers (4) and retainer (3)</p>
                    <ion-card>
                        <ion-card-header color="secondary">NOTICE</ion-card-header>
                        <ion-card-content>
                            <p>The minimum weight of each pin is 66 kg.
                                Use an approved lift device that can safely lift and support the component
                                weight</p>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 7</h1>
                    <p>Remove the two suspension pins (2) using the pin puller</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 8</h1>
                    <p>With the suspension safely secured to the lifting device,
                        carefully lower the suspension from the haul truck</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <h1>Step 9</h1>
                    <p>Remove the rear suspension from the lifting device and move the
                    suspension to a suitable shipping pallet.</p>
                    <ion-card>
                        <ion-card-header color="warning">Warning</ion-card-header>
                        <ion-card-content>
                            <p style="font-weight: bold">
                                If the suspension is leaking oil, drain the oil by removing the
                                plug from the oil fill port
                            </p>
                            <ul>
                                <li>Fully collapse the supension and secure it for
                                transport (i.e., using a band-strap through both eyes</li>
                                <li>Make sure the oil port and the gas valve are closed before
                                shipping</li>
                            </ul>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
        </ion-slides>


    </div>

</ion-content>
